{
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:import/errors",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "benchmark": "readonly",
    "suite": "readonly"
  },
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "mocha": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "prettier",
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".jsx"
        ]
      }
    ],
    "react/prop-types": 0,
    "no-multi-assign": 0,
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 120
      }
    ],
    "no-restricted-syntax": [
      0,
      "ForOfStatement"
    ],
    "max-classes-per-file": 0
  }
}