# Optional AWS access id for writing to the shared sccache S3 bucket
AWS_ACCESS_KEY_ID=<AWS Access Key Id>

# Optional AWS secret key for writing to the shared sccache S3 bucket
AWS_SECRET_ACCESS_KEY=<AWS Secret Key>
