**/*.arrow
**/*.csv
**/*.geojson
**/*.gif
**/*.git
**/*.gitattributes
**/*.jpg
**/*.las
**/*.laz
**/*.o
**/*.parquet
**/*.png
**/*.so
**/*.tar.gz
**/*.tar.xz
**/*.zip

!**/modules/demo/**/*.png
!**/modules/demo/**/*.jpg
!**/modules/demo/**/*.gif
!**/modules/demo/**/*.las
!**/modules/demo/**/*.laz

**/lerna-debug.log
**/docker-compose*.yml
**/compile_commands.json
**/*.code-workspace

**/z-*
**/out/
**/.next/
**/_next/
**/build
**/.cache
**/.ccache
**/.clangd
**/.github
**/.vscode
**/.cmake-js
**/node_modules
**/modules/**/doc
**/modules/**/lib
**/modules/**/data

**/modules/*/include/napi.h
**/modules/*/include/napi-inl.h
**/modules/*/include/napi-inl.deprecated.h
**/modules/*/include/node_api.h

README.md
BINDINGS.md

doc
docs
internal
dev/dockerfiles

.env.sample
.gitignore
.clang-format
.dockerignore
