**/*.csv
**/*.git
**/*.zip
**/*.*.o
**/*.arrow
**/*.geojson
**/*.parquet
**/*.tar.gz
**/lerna-debug.log
**/docker-compose.yml
**/compile_commands.json

**/z-*
**/.cache
**/.ccache
**/.clangd
**/.cmake-js
**/node_modules
**/modules/**/lib
**/modules/**/data
**/modules/**/build

**/modules/*/include/napi.h
**/modules/*/include/napi-inl.h
**/modules/*/include/napi-inl.deprecated.h
**/modules/*/include/node_api.h

setup
thirdparty
