# The ID of the non-root user inside the container (can match host user ID)
UID=1000

# Number of C++ object files to build in parallel. This is dependent on the number of CPU
# cores your machine has. Increasing the number will result in faster build times, but use
# more memory.
PARALLEL_LEVEL=8

# `nvidia/cudagl` base image CUDA version
CUDA_VERSION=11.2.2

# `nvidia/cudagl` base image Ubuntu version
LINUX_VERSION=ubuntu20.04

# Optional S3 region for shared sccache
SCCACHE_REGION=<AWS region>

# Optional S3 bucket for shared sccache
SCCACHE_BUCKET=<bucket name>

# Optional S3 access id for shared sccache
AWS_ACCESS_KEY_ID=<AWS Access Key Id>

# Optional S3 secret key for shared sccache
AWS_SECRET_ACCESS_KEY=<AWS Secret Key>
