**/z-*
**/.clangd
**/.ccache/*
**/node_modules
**/npm-debug.log
**/yarn-debug.log
**/lerna-debug.log
**/compile_commands.json

modules/**/*/lib
modules/**/*/build
modules/*/include/thrust
modules/*/include/napi.h
modules/*/include/napi-inl.h
modules/*/include/napi-inl.deprecated.h
modules/*/include/node_api.h

!.ccache/.keepDir
