**/z-*
**/*.log
**/doc
**/lib
**/build
**/.cache
**/.clangd
**/.ccache
**/__pycache__
**/node_modules
**/compile_commands.json

.env
.vscode
.cmake-js
modules/*/include/napi.h
modules/*/include/napi-inl.h
modules/*/include/napi-inl.deprecated.h
modules/*/include/node_api.h

modules/demo/**/*/data

modules/**/.eslintrc.js

modules/**/notebooks/data

internal/*

# next.js
**/.next/
**/_next/
**/out/
