**/z-*
**/.cache
**/.clangd
**/.ccache
**/__pycache__
**/node_modules
**/npm-debug.log
**/yarn-debug.log
**/lerna-debug.log
**/compile_commands.json

modules/**/*/lib
modules/**/*/build
modules/*/include/rmm
modules/*/include/cudf
modules/*/include/cuml
modules/*/include/cugraph
modules/*/include/cuspatial
modules/*/include/thrust
modules/*/include/napi.h
modules/*/include/napi-inl.h
modules/*/include/napi-inl.deprecated.h
modules/*/include/node_api.h
