fund false
audit false
optional false
save-prefix ""
save-exact true
strict-semver true
ignore-engines true
ignore-optional true
update-notifier false
disable-self-update-check true
scripts-prepend-node-path true
registry "https://registry.npmjs.org/"

--add.silent true
--install.silent true

--add.strict-semver true
--install.strict-semver true

--add.ignore-engines true
--install.ignore-engines true

--add.ignore-optional true
--install.ignore-optional true

--add.scripts-prepend-node-path true
--install.scripts-prepend-node-path true
