disable-self-update-check true
registry "https://registry.npmjs.org/"

--add.silent true
--install.silent true

--add.strict-semver true
--install.strict-semver true

--add.scripts-prepend-node-path true
--install.scripts-prepend-node-path true
