.left-pane {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.left-pane select {
    flex: 0 0 34px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    appearance: none;
}

.editor {
    flex: 0 1 100%;
}

.right-pane {
    flex: 0 1 60%;
    position: relative;
}
