body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  padding: 16px;
}

.BackgroundView {
  position: absolute;
  height: 100%;
  width: 100%;
}

.ParticlesView {
  position: absolute;
  z-index: 0;
}
