body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #212121!important
}

.container-fluid {
  height: 88%;
}

.row, .card {
  height: 100%;
}

.card-body {
  position: relative;
  background-color: #212121!important
}
.row>*{
  padding: 2px !important;
}

.deck-tooltip {
  font-family: Helvetica, Arial, sans-serif;
  padding: 6px !important;
  margin: 8px;
  max-width: 300px;
  background-color: rgb(33 33 33);
  color: white;
  font-size: 10px;
}
