body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #212121!important
}

.container-fluid {
  height: 80%;
}

.row, .card {
  height: 100%;
}

.card-body {
  position: relative;
  background-color: #212121!important
}

.card-header {
  padding: 0.6rem 1rem !important;
}
.container-fluid .row .col{
  margin: 2px 0px !important;
  padding: 0px 1px;
}

.deck-tooltip {
  font-family: Helvetica, Arial, sans-serif;
  padding: 6px !important;
  margin: 8px;
  max-width: 300px;
  background-color: rgb(33 33 33);
  color: white;
  font-size: 10px;
}
